# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
npm-debug.log
yarn-error.log
node_modules
dist
/vendor
resources/assets/config-local.json