@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  position: relative;
  background-color: #fe4d2b;
  font-family: $text-primary;
}

h1.contact-info {
  font-size: 45px;
  font-weight: bold;
  color: #2496cd;
}

p.contact-info {
  font-size: 30px;
}

header {
  margin: 0 70px;
  font-weight: 500;
}

.header-img {
  height: 75vw;
}

.brand {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
  color: black;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

p.menu {
  text-decoration: none;
  margin: 0;
  font-size: 30px;
}

p.menu:hover {
  cursor: pointer;
}

.menu-items {
  visibility: hidden;
  display: none;
}

.menu-items-active {
  visibility: visible;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fdefd3;
  z-index: 1;
}

.nav-link {
  font-size: 45px;
  color: #0a2fa6;
  font-weight: bold;
  margin-left: 1em;
}

.margin-top {
  margin-top: 5em;
}

.section-1-main {
  margin-top: 12%;
}

.text-section-1 {
  max-width: 788px;
  letter-spacing: 2pt;
}

.px-6 {
  padding: 0 13%;
}

.mt-6 {
  margin-top: 8.5%;
}

.mt-9 {
  margin-top: 17%;
}

.mb-6 {
  margin-bottom: 8.5%;
}

.mb-9 {
  margin-bottom: 17%;
}

.pb-6 {
  padding-bottom: 8.5%;
}

.w-50 {
  width: 50%;
}

.main-title {
  font-size: 5em;
}

.main-text {
  font-size: 23px;
}

img.main-image {
  max-height: 610px;
  width: 390px;
  border-radius: 2%;
  object-fit: cover;
}

.read-btn {
  max-width: 455px;
  padding: 10px 0;
}

.text-dark-blue {
  color: #0a2fa6;
}

.section-sand {
  width: 100%;
  background-color: #fdefd3;
}

.section-sand-wp {
  width: 100%;
  background-color: #fdefd3;
  padding: 2% 22.5%;

  h2 {
    color: #0a2fa6;
    font-size: 50px;
    margin-bottom: 1vw;
  }

  p {
    font-size: 25px;
  }
}

.section-light-wp {
  width: 100%;
  background-color: #fff;
  padding: 2% 15%;

  h2 {
    font-size: 50px;
    margin-bottom: 3vw;
    text-align: center;
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 4% 0;
  }

  p {
    font-size: 25px;
  }
}

.section-orange-wp {
  width: 100%;
  padding: 2% 15%;

  h2 {
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-size: 50px;
    margin: 4% 0;
  }

  p {
    margin-top: 2vw;
    font-size: 25px;
  }
}

.videos {
  margin-bottom: 5vw;

  h2 {
    font-size: 50px;
    color: #fff;
  }

  p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vw;
  }
}

img.tribe-img {
  width: 100%;
  height: 547px;
  object-fit: cover;
}

.tribe-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  max-width: 80%;
}

.btn-dark-blue {
  background-color: #0a2fa6;
  color: #fff;
  width: 50%;

  &:hover {
    background-color: #0e3fe0;
    color: #fff;
  }
}

.btn-dark-blue-contactpage {
  background-color: #0a2fa6;
  color: #fff;
  width: 100%;
  font-size: 30px;

  &:hover {
    background-color: #0e3fe0;
    color: #fff;
  }
}

header.single {
  margin: 4vw 0 0 0;
  align-items: center;
}

.entry-content {
  align-items: center;

  p {
    color: #fff;
    font-size: 25px;
    width: 70vw;
    text-align: center;
  }

  h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 10px 0;
    text-align: center;
  }

  img {
    object-fit: cover;
    margin-bottom: 5vh;
    object-position: 50% 25%;
  }
}

.btn-contact {
  background-color: #0a2fa6;
  color: #fff;
  font-size: 45px;
  width: 25%;
  text-align: center;
  border-radius: 0.25rem;
  height: fit-content;
  text-decoration: none;

  &:hover {
    background-color: #0e3fe0;
    color: #fff;
    text-decoration: none;
  }
}

.post-section {
  max-width: 490px;
  text-decoration: none;

  img {
    width: 490px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 25%;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 23px;
  }
}

.w-80 {
  max-width: 80%;
}

.footer-title {
  font-size: 70px;
}

.mt-20 {
  margin-top: 33em;
}

img.gallery-main {
  width: 90%;
  height: 675px;
  object-fit: content;
}

.gallery-title {
  font-size: 90px;
}

.d-90 {
  transform: rotate(-90deg);
  max-height: 300px;
  margin-top: 17%;

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}

.paintings-home {
  img {
    height: 306px;
    width: 400px;
    object-fit: cover;
    object-position: 50% 25%;
  }

  p {
    max-width: 400px;
  }
}

// gallerij masonry

.pictures {
  column-count: 4;
  column-gap: 10px;
}

.pictures img {
  max-width: 16.5vw;
  display: block;
  object-fit: cover;
  max-height: 50vw;
}

.pictures figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.pictures figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

// eind masonry

.videos-2 h2 {
  color: #000;
  width: 75vw;
}

.carousel-img-custom {
  height: 70vh;
  width: 75%;
  object-fit: contain;
  object-position: 50% 10%;
}

.news-video-title {
  font-size: 150px;
  font-weight: bolder;
}

.news-video-undertitle {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.contact-form {
  label {
    font-size: 35px;
    font-weight: bold;
    color: #0a2fa6;
  }

  input {
    width: 100%;
    border: none;
    background-color: #f1eded;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  textarea {
    width: 100%;
    background-color: #f1eded;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }
}

::placeholder {
  color: #829fff;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.text-orange {
  color: #fe4d2b;
}

img.bio-image {
  height: 35vw;
  border-radius: 2%;
  object-fit: cover;
  width: 30vw;
}

@media screen and (max-width: 1475px) {
  .main-title {
    font-size: 3.5em;
  }

  .main-text {
    font-size: 22px;
  }

  img.main-image {
    margin-right: 20px;
  }

  .footer-title {
    font-size: 50px;
  }

  .btn-contact {
    font-size: 35px;
  }

  img.gallery-main {
    width: 90%;
    height: 600px;
  }

  .gallery-title {
    font-size: 70px;
  }

  .videos {
    p {
      font-size: 23px;
    }
  }

  .paintings-home {
    justify-content: space-around;

    img {
      height: 20.746vw;
      width: 27.119vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  h1.contact-info {
    font-size: 37px;
  }

  p.contact-info {
    font-size: 27px;
  }

  .main-title {
    font-size: 2.1em;
  }

  .main-text {
    font-size: 17px;
    letter-spacing: 0;
  }

  img.main-image {
    width: 30vw;
    height: 60vw;
  }

  p.menu {
    font-size: 25px;
  }

  .brand {
    font-size: 25px;
  }

  .read-btn {
    width: 80%;
    font-size: 13px;
  }

  .tribe-text {
    font-size: 15px;
    letter-spacing: 0;
  }

  .btn-dark-blue {
    font-size: 15px;
    width: 50%;
  }

  img.tribe-img {
    height: 40vw;
  }

  .footer-title {
    font-size: 30px;
    margin: 0;
  }

  .btn-contact {
    font-size: 20px;
  }

  svg {
    width: 70px;
  }

  .mt-20 {
    margin-top: 30em;
  }

  .header-img {
    width: 40vw;
    object-fit: cover;
  }

  .nav-link {
    font-size: 35px;
  }

  img.gallery-main {
    width: 70%;
    height: 50vw;
  }

  .gallery-title {
    font-size: 60px;
  }

  .news-video-title {
    font-size: 120px;
  }

  .news-video-undertitle {
    font-size: 40px;
  }

  .contact-form {
    label {
      font-size: 27px;
    }

    input {
      height: 50px;
      font-size: 17px;
    }

    textarea {
      font-size: 17px;
    }
  }

  .btn-dark-blue-contactpage {
    font-size: 20px;
  }

  .pictures {
    column-count: 2;
    column-gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
      width: 80vw;
      max-width: none;
      height: 50vw;
      object-position: 50% 25%;
    }
  }

  .section-sand-wp {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 17px;
    }
  }

  .section-light-wp {
    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 27px;
      font-weight: bold;
    }

    p {
      font-size: 17px;
    }
  }

  .section-orange-wp {
    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 27px;
      font-weight: bold;
    }

    p {
      font-size: 17px;
    }
  }

  .paintings-home {
    justify-content: space-around;

    img {
      height: 24.414vw;
      width: 24.414vw;
    }

    p {
      max-width: 250px;
    }
  }

  .videos-2 {
    h2 {
      font-size: 35px;
    }

    p {
      font-size: 17px;
    }
  }

  .post-section {
    h1 {
      font-size: 30px;
      max-width: 400px;
    }

    p {
      font-size: 20px;
      max-width: 400px;
    }

    img {
      width: 400px;
    }
  }

  .entry-content {
    p {
      font-size: 20px;
    }

    h3 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  h1.contact-info {
    font-size: 4.154vw;
  }

  p.contact-info {
    font-size: 2.615vw;
  }

  .main-title {
    font-size: 4.615vw;
  }

  .main-text {
    font-size: 2.154vw;
    letter-spacing: 0;
  }

  img.main-image {
    width: 25vw;
    height: 60vw;
  }

  p.menu {
    font-size: 2.808vw;
  }

  .brand {
    font-size: 2.808vw;
  }

  .read-btn {
    width: 70%;
    font-size: 3.294vw;
    padding: 0.923vw;
  }

  .btn-dark {
    font-size: 15px;
    width: 100% !important;
  }

  .tribe-text {
    font-size: 3.059vw;
    letter-spacing: 0;
    max-width: none;
  }

  .btn-dark-blue {
    font-size: 4.063vw;
    width: 100%;
    padding: 3px 0;
  }

  img.tribe-img {
    height: 40vw;
  }

  .footer-title {
    font-size: 3.077vw;
  }

  .btn-contact {
    font-size: 2vw;
  }

  svg {
    width: 6.154vw;
  }

  .mt-20 {
    margin-top: 46.154vw;
  }

  .header-img {
    height: 64.615vw;
  }

  .nav-link {
    font-size: 4.154vw;
  }

  img.gallery-main {
    width: 46.154vw;
    height: 35vw;
  }

  .gallery-title {
    font-size: 5.385vw;
  }

  .news-video-title {
    font-size: 12.308vw;
  }

  .news-video-undertitle {
    font-size: 3.846vw;
  }

  .contact-form {
    label {
      font-size: 3.077vw;
    }

    input {
      height: 6.154vw;
      font-size: 2.308vw;
    }

    textarea {
      font-size: 2.308vw;
    }
  }

  .btn-dark-blue-contactpage {
    font-size: 2.615vw;
  }

  ::placeholder {
    font-size: 2.615vw;
  }

  .pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img {
      width: 80vw;
      max-width: none;
      height: 100vh;
      margin-bottom: 15px;
      object-position: 50% 25%;
    }
  }

  .section-sand-wp {
    padding: 2% 5%;

    h2 {
      font-size: 25px;
    }

    p {
      font-size: 15px;
      width: 100%;
    }
  }

  .section-light-wp {
    padding: 2% 5%;

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 23px;
      font-weight: bold;
    }

    p {
      font-size: 15px;
    }
  }

  .section-orange-wp {
    padding: 2% 5%;

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 23px;
      font-weight: bold;
    }

    p {
      font-size: 15px;
    }
  }

  .paintings-home {
    justify-content: space-around;
    flex-direction: column;

    .paintings-inner {
      flex-direction: column;
    }

    img {
      height: 250px;
      width: 250px;
    }

    p {
      max-width: 250px;
      font-size: 15px;
    }
  }

  .videos-2 {
    h2 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
    }
  }

  .post-section {
    h1 {
      font-size: 4.615vw;
      max-width: 61.538vw;
    }

    p {
      font-size: 3.077vw;
      max-width: 61.538vw;
    }

    img {
      width: 61.538vw;
    }
  }

  .entry-content {
    p {
      font-size: 3.623vw;
      width: 100%;
    }

    h3 {
      font-size: 4.615vw;
      font-weight: bold;
    }
  }

  .bio-text {
    padding: 0;
    font-size: 13px;
  }

  .tribe-main {
    flex-direction: column;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .tribe-main-text {
    display: flex;
    justify-content: space-around;
    margin-left: 0 !important;

    h1 {
      font-size: 7.059vw;
    }
  }

  .painting-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }

    .d-90 {
      height: 50px;
      transform: rotate(0deg);
      display: flex;
      justify-content: center;
    }

    h1 {
      margin-top: 0;
      font-size: 8.235vw;
    }
  }

  .videos {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }

  .carousel-img-custom {
    height: 40vh;
  }
}
